.container-reserva{
  width: 90%;
  margin-top: 3vh;
  margin-bottom: 3vh;
  background-color: #fff;
  margin-inline: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 25px  #3333332c;
  h2{
    margin: 0;
  }
  @media (min-width: 768px) {
    width: 45%;
  }
  h3{
    font-weight: 500;
    font-size: calc(8px + 0.5vw);
  }
  .select{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    outline: 1px solid #33333355;
  }
  h4{
    text-align: center;
  }
}

.container-reserva header{
  background-color: var(--cyan-color);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.body-reserva{ 
  padding: 20px 30px;
}

.search-btn{
  background-color: var(--primary);
  color: white;
  border: none;
  min-width: 40%;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.7s;
  &:hover{
    background-color: var(--secondary);
  }
  margin-inline: auto;
  display: block;
  margin-top: 60px;
  margin-bottom: 20px;
}

.room-card{
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 25px  #3333332c;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1em;
}

.selected_room{
  outline: 1px solid var(--primary);
}

.container-persons{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.label-dec{
  margin-bottom: 15px;
  display: block;
}

.increment-button{
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.7s;
  &:hover{
    background-color: var(--secondary);
  }
}

.information-message{
  text-align: center;
  width: 100%;
  margin-inline: auto;
  display: block;
}

.multi-input{
  height: 60px;
  width: 100%;
  margin-bottom: 20px;
  border: none;
  outline: 1px solid #33333355;
  border-radius: 5px;
  padding-inline: 10px;
}

.reserva-btn{
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.7s;
  &:hover{
    background-color: var(--secondary);
  }
  margin-inline: auto;
  display: block;
}

.button-delete{
  border: none;
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
}

.symbol-select{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #3333332c;
}

.symbol-selected{
  background-color: var(--primary);
}

.container-modal{
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px) saturate(150%);
  z-index: 10000;
}

.modal{
  width: 100%;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;

  h2{
    margin: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: calc(16px + 0.4vw);
  }

  span{
    margin-bottom: 10px;
    display: block;
    font-size: calc(8px + 0.4vw);
    color: #2a2a2ac2;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

.container-buttons{
  display: flex;
  justify-content: right;
  gap: 1em;
  @media (max-width: 768px) {
    gap: .1em;
  }
}

.button-base{
  border: none;
  background-color: transparent;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  @media (max-width: 768px) {
    scale: 0.8;
  }
}

.button-cancel{
  outline: 1px solid #ff0000;
  color: #ff0000;
}

.button-cancel:hover{
  background-color: #f2f2f298;
}

.button-delete-confirm{
  background-color: #ff0000;
  color: #fff;

}

.button-delete-confirm:hover{
  background-color: #ff0000c2;
}